.container {
  &__appBar {
    background-color: #168361 !important;
    margin-bottom: 30px;
  }
  &__form {
    padding: 0 24px;
    max-width: 600px;
    margin: 0 auto;
    &__titleSection {
      font-size: 14px;
      display: block;
      margin-bottom: 18px !important;
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}
